body {
  font-family : 'Roboto',
                Arial;
  font-size   : 1.3em;
}

#all {
  width   : 650px;
  margin  : auto;
  padding : 20px;
}

button {
  text-transform: uppercase;
  color:white;
  background-color:black;
  margin: 20px 0;
}

#tests {
  width:99%;
  margin: auto;
  display: block;
  font-size : 20px;
}

#popin {
  display          : none;
  position         :absolute;
  margin:auto;
  max-width:650px;
  padding: 0 15px 20px 15px;
  width            : 80%;
  height           : auto;
  border           : 1px grey solid;
  border-radius    : 15px;
  background-color : #fff;
}

#popin img {
  width : 100%;
}

#tasks {
  padding       : 20px;
  border-radius : 10px;
  font-size     : 1.7em;
  font-weight   : 200;
}

hr {
  margin-top    : 55px;
  margin-bottom : 50px;
}

h1 {
  font-style: italic;
  font-weight : 400;
}

h2 {
  font-weight : 400;
}

p{
  font-size: 0.7em;
}
.checkputs {
  display : none;
}

.taskcontainer {
  margin-bottom : 20px;
  padding       : 20px 20px;
  border        : 1px rgb(220, 220, 220) solid;
  border-radius : 5px;
  box-shadow    : 0 2px 3px rgb(200, 200, 200);
}

.main, .sub {

    padding       : 10px 20px;
    margin-bottom: 10px;
    font-size     : 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius    : 5px;

}
.main {
  color            : white;
  border        : 1px rgb(160, 160, 160) solid;
  background-color : rgb(20, 20, 20);
}
.sub {
  color            : black;
  border:none;
  text-decoration: underline;
  background-color : white;
}


.taskbutton {
  width            : 35px;
  height           : 35px;
  color            : green;
  border-radius    : 5px;
  background-color : white;
}

.done {
  color           : grey;
  text-decoration : line-through;
}

.fa-caret-down, .fa-caret-right {
 width:30px;
}

#tests {
  font-style: italic;
  color:rgb(180, 180, 180);
}
.editable ul li {
  font-style: normal;
  color:black;
  border-top:1px rgb(220, 220, 220) solid;
}
.editable {
 border: 1px solid rgb(200, 200, 200);
  box-shadow    : inset 0 2px 3px rgb(200, 200, 200);
}

.visible {
  visibility:visible;
}
.invisible {
  visibility:hidden;
}

ul li {
  width:100%;
  line-height: 50px;
  border-top:1px rgb(250, 250, 250) solid;
  list-style-type: none;
}

.reviewbtn {
  min-width:22%;
  float:left;
  margin:auto;
}
